In [16]:
import pandas as pd
import pandas_gbq

import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [22]:
import plotly.express as px

In [11]:
query = '''SELECT * FROM `cpi-tfx.BLS_Data.apparel_13`'''
data = pd.read_gbq(query = query, project_id = 'cpi-tfx')

In [12]:
data.head()

,series_id,year,period,value,footnote_codes,period_abr,item,area_code_desc,periodicity,seasonality
0,CUURS000SAA,1987,M04,105.4,NaN,APR,Apparel,Size Class A,Monthly,Not Seasonally Adjusted
1,CUURS000SAA,1988,M04,109.6,NaN,APR,Apparel,Size Class A,Monthly,Not Seasonally Adjusted
2,CUURS000SAA,1989,M04,113.3,NaN,APR,Apparel,Size Class A,Monthly,Not Seasonally Adjusted
3,CUURS000SAA,1990,M04,119.1,NaN,APR,Apparel,Size Class A,Monthly,Not Seasonally Adjusted
4,CUURS000SAA,1991,M04,121.7,NaN,APR,Apparel,Size Class A,Monthly,Not Seasonally Adjusted

In [20]:
data_item_list = list(data['item'].unique())

In [21]:
len(data_item_list)

24

In [ ]:
i = 1
j = 1

fig = make_subplots(
    rows = 6, cols = 4,
    subplot_titles = data_item_list)

for value in data_item_list:
    fig.add_trace(go.Scatter(x = data[data['item'] == '{}'.format(value)]['year'], 
                             y = data[data['item'] == '{}'.format(value)]['value']),
                  row = i, col = j)


fig.add_trace(go.Scatter(x=[1, 2, 3], y=[4, 5, 6]),
              row=1, col=1)

fig.add_trace(go.Scatter(x=[20, 30, 40], y=[50, 60, 70]),
              row=1, col=2)

fig.add_trace(go.Scatter(x=[300, 400, 500], y=[600, 700, 800]),
              row=2, col=1)

fig.add_trace(go.Scatter(x=[4000, 5000, 6000], y=[7000, 8000, 9000]),
              row=2, col=2)


fig.show()

In [ ]:
fig = go.Figure()

# Add traces
fig.add_trace(go.Scatter(x=random_x, y=random_y0,
                    mode='markers',
                    name='markers'))
fig.add_trace(go.Scatter(x=random_x, y=random_y1,
                    mode='lines+markers',
                    name='lines+markers'))
fig.add_trace(go.Scatter(x=random_x, y=random_y2,
                    mode='lines',
                    name='lines'))

fig.show()